@charset "utf-8";
//@import "font-awesome";
body {
  background: #d4d4d4 url("../images/background.png");
  text-align: center;
  font-family: sans-serif;
  min-width: 850px;}

h1 {
  color: rgba(0, 0, 0, .4);
  font-weight: bold;
  font-size: 32px;
  letter-spacing: -1px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
  background: url("../images/plitka.png") no-repeat center 20px;
  padding: 140px 0 10px;
  margin: 0; }

.doc {
  font-size: 14px;
  margin: 0; }
  .doc:before,
  .doc:after {
    opacity: .2;
    padding: 6px;
    font-style: normal;
    position: relative;
    content: "•"; }
  .doc a {
    color: rgba(0, 0, 0, 0.3); }
    .doc a:hover {
      color: #666; }

.text-block{
  margin: 60px 0;
  width: 100%;
  padding: 0 10%;


  .bigtext{
    font-size: 120%;
  }

  h2{
    margin: 0 0 10px;
  }
  li {
    list-style-type: none;
  }
  & > img{
    margin: 30px 0;
  }
}

img{
  &.js-open{
    cursor:pointer;
  }
  &.big{
//    width: 350px;
    height: 280px;
    margin: 0px 5px;
  }
  &.small{
    width: 120px;
    height: 90px;
    margin: 2px 0;
  }
}

.logo {
//  background: #cfbaa7 url('/images/Logo-bg.png') no-repeat;
  position: relative;
}

.top-menu{
  margin-top: 30px;
  a {
    margin: 10px 20px;
    font-weight: 700;
    font-size: 16px;
  }
}
.number-phone{
  position:absolute;
  right:14%;
  top:20px;
  font-size:24px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
  margin: 0 10px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.points{
  ul{
    li{
      color: rgba(0, 0, 0, 0.5);
      font-weight: bold;
      margin: 0 10px;
      text-transform: uppercase;
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
      &:before {
        font-size: 70px;
      }
      div{
        font-size:24px;
        padding-top: 10px;
      }
    }
  }
}



.logo-title {
  margin: 30px;
  -webkit-animation-name: welcome;
  -webkit-animation-duration: .9s; }
.top-menu {

  -webkit-animation-name: welcome;
  -webkit-animation-duration: 1.5s; }
.number-phone{
  -webkit-animation-name: welcome;
  -webkit-animation-duration: 2.1s; }


@-webkit-keyframes welcome {
  from {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  50% {
   -webkit-transform: scale(0);
   opacity: 0;
  }
  82.5% {
    -webkit-transform: scale(1.03);
    -webkit-animation-timing-function: ease-out;
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1);
  }
}


footer {
 height: 284px;
//  background-image: url(/images/footer.png);
  text-align: center;
}


#lightbox{
  position: fixed;
  display: none;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0, 0.4);
  cursor: pointer;
  > img{
    padding: 4%;
  }
}